<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!-- 动态日志级别 -->
    <jmxConfigurator/>

    <!-- 定义日志文件 输出位置 -->
    <property name="log.name" value="dca-store"/>
    <property name="log.path" value="/data/app/logs/dca-store"/>
    <property name="log.monitor" value="appmonitor"/>

    <!-- 日志最大的历史 360天 -->
    <property name="log.maxHistory" value="360"/>
    <property name="log.maxSize" value="100MB"/>


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>[%level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}.log.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxSize}</maxFileSize>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.maxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread]%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.monitor}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.monitor}.log.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxSize}</maxFileSize>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.maxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread]%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <!--logback.LogbackDemo：类的全路径 -->
    <logger name="com.webank.dca.store" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="appmonitor" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="monitor"/>
        <appender-ref ref="console"/>
    </logger>
</configuration>